.bigContainer {
  margin: 20%;
  width: 10cm;
  height: 10cm;
  justify-content: center;
  display: flex;
}
.btn {
  width: 3cm;
  height: 2cm;
  border: 1px;
  font-weight: bold;
  background-color: rgb(196, 158, 232);
}

.box {
  width: 100%;
}

.btn-x {
  width: -webkit-fill-available;
  height: 2cm;
  background-color: rgb(196, 158, 232);
}
.container {
  display: flex;
  justify-content: space-between;
}

#display {
  justify-content: center;
  height: 2cm;
  width: 9.8cm;
  border: 3px solid black;
}
